.body{
  position: relative;
}

.bClick{
  height: 40px;
  width: 113px;
  font-size: 14px;
  color: black;
  line-height: 1.866;
  background: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  border: black 2px solid;  
}

.input{
  list-style: none;
  position: absolute;
  margin-left: -300px;
  left: 50%;
  top: 50%;
  margin-top: 75px;
}

li{
  display: inline;
}

canvas{
  position: absolute;
	border: black 2px solid;  
  margin-left: -300px;
  left: 50%;
  top: 50%;
  margin-top: -150px;
}

.runningAnimation{
  display: none;
}

.birdAnimation{
  display: none;
}

.element{
  display: none;
}